* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 150px;
}
.navbar {
  text-align: right;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}
.navbar ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: lightcoral;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar ul li:hover::after {
  width: 100%;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.university {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}
.university h1 {
  font-size: 50px;
}
.university p {
  font-size: 14px;
  margin: 10px 0px 40px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid white;
  padding: 10px 20px;
  background-color: gray;
}
.btn:hover {
  background-color: green;
  transition: 1s;
  border: none;
}

/* cousre section */
.course-section {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}
.row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.courses {
  border-radius: 5px;
  padding: 20px 10px;
  background-color: lightgray;
  margin: 0px 15px 10px;
  transition: 0.5s;
}
.courses:hover {
  box-shadow: 0px 5px 10px gray;
  border-top: 5px solid green;
}

/* campus section */
.compus-section {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
.compus {
  flex-basis: 32%;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.compus img {
  width: 100%;
}
.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.layer h1 {
  position: absolute;
  bottom: 1%;
  left: 50%;
  font-style: normal;
  opacity: 0;
  transition: 0.5s;
  transform: translateX(-50%);
}
.layer:hover h1 {
  opacity: 1;
  position: absolute;
  bottom: 50%;
}
